<div id="principal">
<div class="center">
  <img src="images/categories/alina.jpg" class="profile circle">
</div>

<div class="nuevo">
  <button><a href="/nuevo" class="size">Agregar Nuevo Producto</a></button>
</div>

   <ul id="tabs-swipe-demo" class="tabs center">
    <li class="tab col s12 m4 l4"><a class="active" href="#test-swipe-1">Mis Productos</a></li>
    <li class="tab col s12 m4 l4"><a href="#test-swipe-2">Historial</a></li>
    <li class="tab col s12 m4 l4"><a href="#test-swipe-3">SubAppi</a></li>
  </ul>
  <div id="test-swipe-1" class="col s12">
    <div class="container">
    <div class="row">
    <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/rio.png">
        </div>
        <div class="card-content">
          <p class="center">Kia rio 2018</p>
          <p class="center">CDMX</p>
          <p class="center">$450 por dia</p>
          <p class="center">Disponible</p>
        </div>
        </a>
      </div>
      </div>
      <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img src="images/categories/camara.png" class="resizeimg">
        </div>
        <div class="card-content">
          <p class="center">Camara canon T5</p>
          <p class="center">CDMX</p>
          <p class="center">$250 por dia</p>
          <p class="center">Disponible</p>
        </div>
        </a>
      </div>
      </div>
      <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img src="images/categories/proyector.png" height="450">
        </div>
        <div class="card-content">
          <p class="center">Kia rio 2018</p>
          <p class="center">CDMX</p>
          <p class="center">$450 por dia</p>
          <p class="center">Disponible</p>
        </div>
        </a>
      </div>
      </div>
      

  </div>
  </div>

  </div>
  <div id="test-swipe-2" class="col s12">
    
    <div class="container">
      <table>
        <thead>
          <tr>
              <th>Productos</th>
              <th># Rentas</th>
              <th>Precio</th>
              <th>Total</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Auto Kia</td>
            <td>5</td>
            <td>$450 por dia</td>
            <td>$2,250</td>
          </tr>
          <tr>
            <td>Camara canon t5</td>
            <td>6</td>
            <td>$250 por dia</td>
            <td>$1,500</td>
          </tr>
          <tr>
            <td>Proyector</td>
            <td>10</td>
            <td>$250 por dia</td>
            <td>$2,500</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div id="test-swipe-3" class="col s12">
    <div class="container">
      <h3 class="center">¿Ya no quieres tus productos?</h3>
      <p class="center">Subastalos en Subappi</p>
    </div>
  </div>
</div>
<style>
  #principal{
    margin-top: 2%;
  }
  .profile{
    width: 250px;
    height: 250px;
  }

@media (max-width: 990px) {
  .resizeimg {
    height: auto;
  }
}

@media (min-width: 1000px) {
  .resizeimg {
    width: auto;
    height: 350;
  }
}

.card img{
  height: 150px;
}

</style>