<h2>Registrate</h2>
<form action="/signup" method="post">
    <input type="text" name="username" placeholder="tu nombre"/>
    <input type="email" name="email" placeholder="tu mail" />
    <input type="password" name="password" placeholder="tu pass"/>
    <input type="password" name="password2" placeholder="repite"/>
    <input type="submit"/>
    <br>
    {{info}}
</form>

{{!-- <div class="wrapper">
  <form class="login">
    <p class="title">Regístrate</p>

    <input type="text" name="username" placeholder="tu nombre" autofocus/>
    <i class="fa fa-user"></i>

    <input type="email" name="email" placeholder="tu mail" autofocus/>
    <i class="fa fa-user"></i>

    <input type="password" name="password" placeholder="tu pass" />
    <i class="fa fa-key"></i>

    <input type="password" name="password2" placeholder="repite" />
    <i class="fa fa-key"></i>


    <button>
      <i class="spinner"></i>
      <input type="submit"/>
    </button>

  </form>
  </p>
</div> --}}