<h2>Registrate</h2>
<form action="/signup" method="post">
    <input type="text" name="username" placeholder="tu nombre"/>
    <input type="email" name="email" placeholder="tu mail" />
    <input type="password" name="password" placeholder="tu pass"/>
    <input type="password" name="password2" placeholder="repite"/>
    <input type="submit"/>
</form>