<div id="tecnologia">
  <div class="container">
    <h2 class="center">Tecnología</h2>
    <div class="row">
      <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/proyector.png">
        </div>
        <div class="card-content">
          <p class="center">Proyector Epson</p>
          <p class="center">CDMX</p>
          <p class="center">$450 por dia</p>
          <p class="center">Disponible</p>
          <p class="center"><a>Alina Rodriguez</a></p>
        </div>
        </a>
      </div>
      </div>
       <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/play.png">
        </div>
        <div class="card-content">
          <p class="center">Play Station 4</p>
          <p class="center">CDMX</p>
          <p class="center">$150 por dia</p>
          <p class="center">Disponible</p>
          <p class="center"><a>Ricardo Martínez</a></p>
        </div>
        </a>
      </div>
      </div>
       <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/xbox.png">
        </div>
        <div class="card-content">
          <p class="center">Xbox</p>
          <p class="center">CDMX</p>
          <p class="center">$120 por dia</p>
          <p class="center">Disponible</p>
          <p class="center"><a>Josué Cárdenas</a></p>
        </div>
        </a>
      </div>
      </div>
       <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/pro.png">
        </div>
        <div class="card-content">
          <p class="center">Proyector Epson</p>
          <p class="center">CDMX</p>
          <p class="center">$450 por dia</p>
          <p class="center">Disponible</p>
          <p class="center"><a>Alina Rodriguez</a></p>
        </div>
        </a>
      </div>
      </div>
       <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/baffle.png">
        </div>
        <div class="card-content">
          <p class="center">Baffle</p>
          <p class="center">CDMX</p>
          <p class="center">$300 por dia</p>
          <p class="center">Disponible</p>
          <p class="center"><a>ALGUIEN</a></p>
        </div>
        </a>
      </div>
      </div>
       <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/lap.png">
        </div>
        <div class="card-content">
          <p class="center">Laptop</p>
          <p class="center">CDMX</p>
          <p class="center">$120 por dia</p>
          <p class="center">Disponible</p>
          <p class="center"><a>Alina Rodriguez</a></p>
        </div>
        </a>
      </div>
      </div>
    </div>
  </div>
</div>




<style> 
  .card img{
  max-height: 150px;
  min-height: 150px;
}

</style>