<div class="container">
  <div class="row">

    <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/rio.png">
        </div>
        <div class="card-content">
          <p class="center">Kia Rio 2018</p>
          <p class="center">CDMX</p>
          <p class="center">$450 por dia</p>
          <p class="center">Disponible</p>
          <p class="center"><a>Alina Rodriguez</a></p>
        </div>
        </a>
      </div>
      </div>
      <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/camion.jpg">
        </div>
        <div class="card-content">
          <p class="center">Camion de carga</p>
          <p class="center">Naucalpan</p>
          <p class="center">$450 por dia</p>
          <p class="center">Disponible</p>
          <p class="center"><a>Tres Guerras</a></p>
        </div>
        </a>
      </div>
      </div>
      <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/mot.jpg">
        </div>
        <div class="card-content">
          <p class="center">Moto</p>
          <p class="center">Guadalajara</p>
          <p class="center">$120 por dia</p>
          <p class="center">Disponible</p>
          <p class="center"><a>Antonio Garza</a></p>
        </div>
        </a>
      </div>
      </div>
      <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/audi.png">
        </div>
        <div class="card-content">
          <p class="center">Audi A2</p>
          <p class="center">CDMX</p>
          <p class="center">$550 por dia</p>
          <p class="center">Disponible</p>
          <p class="center"><a>Andrés Pérez</a></p>
        </div>
        </a>
      </div>
      </div>
      <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/bici.jpg">
        </div>
        <div class="card-content">
          <p class="center">Bicicleta</p>
          <p class="center">CDMX</p>
          <p class="center">$60 por dia</p>
          <p class="center">Disponible</p>
          <p class="center"><a>Alina Rodriguez</a></p>
        </div>
        </a>
      </div>
      </div>
      <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/moto.jpg">
        </div>
        <div class="card-content">
          <p class="center">Moto pista</p>
          <p class="center">CDMX</p>
          <p class="center">$120 por dia</p>
          <p class="center">Disponible</p>
          <p class="center"><a>Jonathan Pérez</a></p>
        </div>
        </a>
      </div>
      </div>
      <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/aveo.png">
        </div>
        <div class="card-content">
          <p class="center">Aveo</p>
          <p class="center">CDMX</p>
          <p class="center">$120 por dia</p>
          <p class="center">Disponible</p>
          <p class="center"><a>Mario Contreras</a></p>
        </div>
        </a>
      </div>
      </div>
      <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/m.jpg">
        </div>
        <div class="card-content">
          <p class="center">Moto</p>
          <p class="center">CDMX</p>
          <p class="center">$120 por dia</p>
          <p class="center">Disponible</p>
          <p class="center"><a>Jesus Villanueva</a></p>
        </div>
        </a>
      </div>
      </div>
      <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/benz.png">
        </div>
        <div class="card-content">
          <p class="center">Benz</p>
          <p class="center">CDMX</p>
          <p class="center">$320 por dia</p>
          <p class="center">Disponible</p>
          <p class="center"><a>Miriam Ruiz</a></p>
        </div>
        </a>
      </div>
      </div>
      <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/corolla.jpg">
        </div>
        <div class="card-content">
          <p class="center">Corolla</p>
          <p class="center">CDMX</p>
          <p class="center">$340 por dia</p>
          <p class="center">Disponible</p>
          <p class="center"><a>Andrea Rodriguez</a></p>
        </div>
        </a>
      </div>
      </div>
      <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/ford.png">
        </div>
        <div class="card-content">
          <p class="center">Ford Focus</p>
          <p class="center">CDMX</p>
          <p class="center">$290 por dia</p>
          <p class="center">Disponible</p>
          <p class="center"><a>Pedro Muñoz</a></p>
        </div>
        </a>
      </div>
      </div>
      <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/combi.png">
        </div>
        <div class="card-content">
          <p class="center">Combi retro</p>
          <p class="center">CDMX</p>
          <p class="center">$220 por dia</p>
          <p class="center">Disponible</p>
          <p class="center"><a>Mónica Rodriguez</a></p>
        </div>
        </a>
      </div>
      </div>

  </div>

</div>

<style> 
  .card img{
  max-height: 150px;
  min-height: 150px;
}
</style>