<div id="main" class="responsive-img">
  <div id="text" class="center medio"><b>Renta lo que necesites</b></div>
</div>

<div class="container" id="art">
  <h2 class="center">Categorías</h2>
   <div class="row">
    <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img src="images/categories/car.png" >
        </div>
        <div class="card-content">
          <p class="center">Autos,motos y más</p>
        </div>
        </a>
      </div>
    </div>
    <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img src="images/categories/shirt.png">
        </div>
        <div class="card-content">
          <p class="center">Ropa y accesorios</p>
        </div>
        </a>
      </div>
    </div>
    <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img src="images/categories/building.png">
        </div>
        <div class="card-content">
          <p class="center">Inmuebles</p>
        </div>
        </a>
      </div>
    </div>
    <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img src="images/categories/book.png">
        </div>
        <div class="card-content">
          <p class="center">Libros, revistas, etc</p>
        </div>
        </a>
      </div>
    </div>
  
  
    <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
<<<<<<< HEAD
          <img src="images/categories/controlvideogame.png">
        </div>
        <div class="card-content">
          <p class="center">Videojuegos</p>
=======
          <img src="images/categories/camera.png">
        </div>
        <div class="card-content">
          <p class="center">Tecnología</p>
>>>>>>> 791cc42deed0ccf880d381d933739f03f9cb827c
        </div>
        </a>
      </div>
    </div>
    <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img src="images/categories/ball.png">
        </div>
        <div class="card-content">
          <p class="center">Deportes</p>
        </div>
        </a>
      </div>
    </div>
    <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img src="images/categories/medi.png">
        </div>
        <div class="card-content">
          <p class="center">Equipo médico</p>
        </div>
        </a>
      </div>
    </div>
    <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img src="images/categories/people.png">
        </div>
        <div class="card-content">
          <p class="center">Servicios</p>
        </div>
        </a>
      </div>
    </div>




        <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img src="images/categories/controlvideogame.png">
        </div>
        <div class="card-content">
          <p class="center">Videojuegos</p>
        </div>
        </a>
      </div>
    </div>
    <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img src="images/categories/chair.png">
        </div>
        <div class="card-content">
          <p class="center">Articulos de oficina</p>
        </div>
        </a>
      </div>
    </div>
    <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img src="images/categories/tool.png">
        </div>
        <div class="card-content">
          <p class="center">Herramientas</p>
        </div>
        </a>
      </div>
    </div>
    <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img src="images/categories/sofa.png">
        </div>
        <div class="card-content">
          <p class="center">Muebles</p>
        </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="center">Encuentra lo que necesites</h2>
  <div class="row">
    <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img src="images/categories/tool.png">
        </div>
        <div class="card-content">
          <p class="center">Herramientas</p>
        </div>
        </a>
      </div>
    </div>
  </div>
<<<<<<< HEAD
</div>
=======
</div>
>>>>>>> 791cc42deed0ccf880d381d933739f03f9cb827c
