<div id="main" class="responsive-img">

  <div id="text" class="center renta">
    <b>Renta lo que quieras</b>
    <br>
    <a class='btn center' href='/signup'>Empieza hoy mismo</a>
  </div>

</div>











<div class="container" id="art">
  <h2 class="center">Categorías</h2>
   <div class="row">

    <div class="col s12 m4 l3">
        <figure class="snip1518">
          <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample101.jpg" alt="sample101" /></div>
          <figcaption>
            <h5>Tecnología</h5>
          </figcaption>
          <a href="/tecnologia"></a>
        </figure>
    </div>

    <div class="col s12 m4 l3">
        <figure class="snip1518">
          <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample101.jpg" alt="sample101" /></div>
          <figcaption>
            <h5>Vehículos</h5>
          </figcaption>
          <a href="/vehiculos"></a>
        </figure>
    </div>

    <div class="col s12 m4 l3">
        <figure class="snip1518">
          <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample101.jpg" alt="sample101" /></div>
          <figcaption>
            <h5>Ropa</h5>
          </figcaption>
          <a href="/ropa"></a>
        </figure>
    </div>

    <div class="col s12 m4 l3">
        <figure class="snip1518">
          <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample101.jpg" alt="sample101" /></div>
          <figcaption>
            <h5>Inmuebles</h5>
          </figcaption>
          <a href="/inmuebles"></a>
        </figure>
    </div>

    <div class="col s12 m4 l3">
        <figure class="snip1518">
          <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample101.jpg" alt="sample101" /></div>
          <figcaption>
            <h5>Libros</h5>
          </figcaption>
          <a href="/libros"></a>
        </figure>
    </div>

    <div class="col s12 m4 l3">
        <figure class="snip1518">
          <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample101.jpg" alt="sample101" /></div>
          <figcaption>
            <h5>Videojuegos</h5>
          </figcaption>
          <a href="/videojuegos"></a>
        </figure>
    </div>

    <div class="col s12 m4 l3">
        <figure class="snip1518">
          <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample101.jpg" alt="sample101" /></div>
          <figcaption>
            <h5>Herramientas</h5>
          </figcaption>
          <a href="/herramientas"></a>
        </figure>
    </div>

    <div class="col s12 m4 l3">
        <figure class="snip1518">
          <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample101.jpg" alt="sample101" /></div>
          <figcaption>
            <h5>Muebles</h5>
          </figcaption>
          <a href="/muebles"></a>
        </figure>
    </div>
  </div>
</div>

<!--<div class="container">
  <h2 class="center">Encuentra lo que necesites</h2>
  <div class="row">
    <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img src="images/categories/tool.png">
        </div>
        <div class="card-content">
          <p class="center">Herramientas</p>
        </div>
        </a>
      </div>
    </div>
  </div>
</div>-->

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems, options);
  });

  // Or with jQuery

  $('.dropdown-trigger').dropdown();
</script>