
    <!--Categorias-->
    <h1>ELO PRUEBA</h1>
    <div class="container">
      <div class="row">
        <div class="col s12 m6 l3">
          <div class="card">
            <div class="card-image">
              <img src="../categories/tecnologia/camara.jpg">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <h5>Cámara CANON T5</h5>
              <p>Cámara fotográfica reflex</p>
            </div>
            <div class="card-action">
              <a href="#">Lo quiero</a>
            </div>
          </div>
        </div>
      </div>



    <i class="fas fa-user"></i>
  <i class="far fa-user"></i>
  <br>
  <i class="fas fa-sign-out-alt"></i>
  <br>

  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4 class="center">Crea tu cuenta</h4>
        <form action="" class="center col s12 m8 l8"> 
          <input type="text" name="nombre" required placeholder="Nombre">
          <input type="email" name="email" required placeholder="Correo Electrónico">
          <input type="password" name="pass1" required placeholder="Contraseña">
          <input type="password" name="pass2" required placeholder="Repite tu contraseña">
          <button class="btn waves-effect waves-light cyan" type="submit" name="action">Enviar
            <i class="material-icons right">send</i>
          </button>
        </form>
    </div>
  </div>