<div id="main">
  <div id="text" class="center medio"><b>Renta lo que necesites</b></div>
</div>
<div id="categories">
  <div class="container">
    <div class="row">
      <div class="col s12 m6 l3">
        <div class="card four">
        <a href="#">
        <div class="card-image center">
           <i class="large material-icons">directions_car</i>
        </div>
        <div class="card-content">
          <h5 class="center">Vehículos</h5>
        </div>
        </a>
      </div></div>
      <div class="col s12 m6 l3">
        <div class="card four">
        <a href="#">
        <div class="card-image center">
           <img src="/images/wrench.svg" alt="" width="100px" height="100px">
        </div>
        <div class="card-content">
          <h5 class="center">Herramientas</h5>
        </div>
        </a>
      </div>
      </div>
      <div class="col s12 m6 l3">Herramientas</div>
      <div class="col s12 m6 l3">Ropa y accesorios</div>
    </div>
  </div>
</div>