<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Elo</title>
  <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

  <ul id="cat" class="dropdown-content">
    <li><a href="#!">Tecnología</a></li>
    <li><a href="#!">Vehículos</a></li>
    <li class="divider"></li>
    <li><a href="#!">Herramientas</a></li>
  </ul>
  <div class="navbar-fixed">
  <nav>
      <div class="nav-wrapper blue">
        <a href="#!" class="brand-logo center">ELO</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="left hide-on-med-and-down">
          <li><a class="dropdown-trigger" href="#!" data-target="cat">Categorías<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Registrarse</a></li>
          <li><a href="#">Acceder</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <ul class="sidenav" id="mobile-demo">
    <li><a href="#">Registrarse</a></li>
    <li><a href="#">Acceder</a></li>
    <li><a href="#">Javascript</a></li>
    <li><a href="#">Mobile</a></li>
  </ul>


  
  {{{body}}}





    <footer class="page-footer blue">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Elo</h5>
                <ul>
                  <li><a href="#" class="white-text">Acerca de</a></li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
              <div class="col l4 offset-l2 s12">
                <ul>
                  <li><a><img src="/images/gp.png" alt="google play" width="250"></a></li>
                  <li><a><img src="/images/appstore.png" alt="" width="250"></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Elo
            <span><a href="/files/aviso.html"  class="white-text">Aviso de privacidad</a></span>
            <span><a href="/files/terminos.html" class="white-text">Términos y condiciones</a></span>
            </div>
          </div>
        </footer>
  <!--SCRIPTS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

  <script>
    $(document).ready(function(){
    $('.sidenav').sidenav();
  });
  $(".dropdown-trigger").dropdown();
        
  </script>
</body>
</html>


