<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Elo</title>
  <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="" type="image/x-icon"/>
</head>
<body>
  <div class="navbar-fixed">
  <nav>
      <div class="nav-wrapper blue">
        <a href="#!" class="brand-logo center" id="logo">ELO</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="left hide-on-med-and-down over">
          <li class="categorias size" id="cat">Categorías<i class="material-icons right">arrow_drop_down</i></li>
          <ul class="none" id="lista">
            <li class="divi"></li> 
            <li><a href="#" class="size">Tecnología</a>
            <ul></ul>
            </li>
            <br>
            <li class="divi"></li>          
            <a href="#" class="size"><li>Vehículos</li></a>
            <li class="divi"></li>
            <a href="#" class="size"><li>Ropa y accesorios</li></a>
            <li class="divi"></li>
            <a href="#" class="size"><li>Algo</li></a>
            <li class="divi"></li> 
          </ul>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a class="modal-trigger size" href="#modal1">Crear cuenta</a></li>
          <li><a class="modal-trigger size" href="#login">Acceder</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <ul class="sidenav" id="mobile-demo">
    <li><a href="#">Registrarse</a></li>
    <li><a href="#">Acceder</a></li>
    <li><a href="#">Ayuda</a></li>
    <li><a href="#">Contacto</a></li>
  </ul>
   <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4 class="center">Crear cuenta</h4>
      <form action="/signup" method="post" class="input">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" name="username" type="text" class="validate" required>
          <label for="icon_prefix">Nombre</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">email</i>
          <input id="icon_telephone" name="email" type="email" class="validate" required>
          <label for="icon_telephone">Correo Electrónico</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">fingerprint</i>
          <input id="icon_fingerprint1" name="password" type="password" class="validate" required>
          <label for="icon_fingerprint1">Contraseña</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">fingerprint</i>
          <input id="icon_fingerprint" name="password2" type="password" class="validate" required>
          <label for="icon_fingerprint">Repetir contraseña</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input id="icon_emaila" type="number" class="validate" name="phone" required>
          <label for="icon_emaila">Teléfono</label>
        </div>
        <div class="center">
          <input type="submit" class="boton"value="Crear cuenta">
        </div>
      </form>
    </div>
  </div>
  <div id="login" class="modal">
    <div class="modal-content">
      <h4 class="center">Acceder</h4>
      <form>
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix1" name="username" type="text" class="validate" required>
          <label for="icon_prefix1">Nombre</label>
        </div>
      <div class="input-field col s6">
          <i class="material-icons prefix">fingerprint</i>
          <input id="icon_fingerprint3" name="password" type="password" class="validate" required>
          <label for="icon_fingerprint3">Contraseña</label>
        </div>
        <div class="center">
          <input type="submit" value="Acceder">
        </div>
      </form>
    </div>
  </div>

  
  {{{body}}}





    <footer class="page-footer blue">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Elo</h5>
                <ul>
                  <li><a href="#" class="white-text">Acerca de</a></li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
              <div class="col l4 offset-l2 s12">
                <ul>
                  <li><a><img src="/images/gp.png" alt="google play" width="250"></a></li>
                  <li><a><img src="/images/appstore.png" alt="" width="250"></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Elo
            <span><a href="/files/aviso.html"  class="white-text">Aviso de privacidad</a></span>
            <span><a href="/files/terminos.html" class="white-text">Términos y condiciones</a></span>
            </div>
          </div>
        </footer>
  <!--SCRIPTS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

  
  <script>
    $(document).ready(function(){
    $('.sidenav').sidenav();
    $('.modal').modal();
  });
  $(".dropdown-trigger").dropdown();
   
  </script>
  <script src="/javascripts/script.js"></script>
</body>
</html>







