<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Elo</title>
    <link rel="shortcut icon" href="/images/favicon-16.png" type="image/x-icon"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="" type="image/x-icon"/>
</head>

<body>

{{!-- NAV BAR --}}
<div class="navbar-fixed">

  <nav class="black stroke">
      <div class="nav-wrapper">


        <div class="dropdownmen">
          <!-- Dropdown Trigger -->
          <a class='dropdown-trigger btn left dropdown-menu' id="btn-categories"href='#' data-target='dropdown1'>Categorías</a>
          <!-- Dropdown Structure -->
          <ul id='dropdown1' class='dropdown-content'>
            <li><a href="/tecnologia">Tecnología</a></li>
            <li><a href="/ropa">Ropa y accesorios</a></li>
            <li><a href="/inmuebles">Inmuebles</a></li>
            <li><a href="/deportes">Deportes</a></li>
            <li><a href="/servicios">Servicios</a></li>
          </ul>
        </div>



        <a href="/" class="brand-logo center" class="logo"><img src="/images/logo.png" id="logo"></a>

{{!--         <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="center hide-on-med-and-down over">
          <li class="categorias size" id="cat">Categorías<i class="material-icons left">arrow_drop_down</i></li>
          <ul class="none" id="lista">
            <li><a href="/tecnologia" class="size">Tecnología</a>
            <ul></ul>
            </li>
            <br>
                
            <a href="/vehiculos" class="size"><li>Vehículos</li></a>
            <a href="#" class="size"><li>Ropa y accesorios</li></a>
            <a href="#" class="size"><li>Inmuebles</li></a>
            <a href="#" class="size"><li>Deportes</li></a>
            <a href="#" class="size"><li>Servicios</li></a>
          
          </ul>
        </ul> --}}
        <ul class="right hide-on-med-and-down">
          <li><a class="modal-trigger size" href="#modal1">Crear cuenta</a></li>
          <li><a class="modal-trigger size" href="#login">Acceder</a></li>
          <li><a class="modal-trigger size" href="#login">Mi Cuenta</a></li>
          <li><a class="modal-trigger size" href="#login">Cerrar Sesión</a></li>
        </ul>
      </div>
    </nav>

  </div>



  {{!-- OPCIONES --}}
  <ul class="sidenav" id="mobile-demo">
    <li><a href="#">Registrarse</a></li>
    <li><a href="#">Acceder</a></li>
    <li><a href="#">Ayuda</a></li>
    <li><a href="#">Contacto</a></li>
  </ul>


  {{!-- MODAL CREAR CUENTA --}}
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4 class="center">Crear cuenta</h4>
      <form action="/signup" method="post" class="input">
      <div class="row">
        <div class="col s12 m6 l6">
          <a href="/auth/facebook"><img class="responsive-img" height="40px" src="https://www.k12paymentcenter.com/Images/SignUpFB.png"></a></div>
        <div class="col s12 m6 l6 center">
          {{#unless user}}
              <div>
              <a href="/auth/google"><img class="responsive-img" height="40px" src="https://lastinch.in/wp-content/uploads/2017/06/signup-google.png"></a>
              </div>
          {{/unless}}
        </div> 
      </div> 

        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" name="username" type="text" class="validate" required>
          <label for="icon_prefix">Nombre</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">email</i>
          <input id="icon_telephone" name="email" type="email" class="validate" required>
          <label for="icon_telephone">Correo Electrónico</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">fingerprint</i>
          <input id="icon_fingerprint1" name="password" type="password" class="validate" required>
          <label for="icon_fingerprint1">Contraseña</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">fingerprint</i>
          <input id="icon_fingerprint" name="password2" type="password" class="validate" required>
          <label for="icon_fingerprint">Repetir contraseña</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input id="icon_emaila" name="phone" type="number" class="validate" required>
          <label for="icon_emaila">Teléfono</label>
        </div>
        <div class="center">
          <input type="submit" class="boton"value="Crear cuenta">
        </div>
      </form>
    </div>
  </div>


  {{!-- MODAL ACCEDER --}}
  <div id="login" class="modal">
    <div class="modal-content">
      <h4 class="center">Acceder</h4>
      <form action="/login" method="post"> 
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix1" name="email" type="text" class="validate" required>
          <label for="icon_prefix1">Correo electrónico</label>
        </div>
      <div class="input-field col s6">
          <i class="material-icons prefix">fingerprint</i>
          <input id="icon_fingerprint3" name="password" type="password" class="validate" required>
          <label for="icon_fingerprint3">Contraseña</label>
        </div>
        <div class="center">
          <input type="submit" class="boton" value="Acceder">
        </div>
      </form>
    </div>
  </div>

  
  {{{body}}}


    {{!-- FOOTER --}}
    <footer class="page-footer footer-ali">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
              <div class="col l4 offset-l2 s12">
                <ul>
                  <li><a href="https://play.google.com/store/apps/details?id=appinventor.ai_elo_platform.Elo"><img src="/images/gp.png" alt="google play" width="250"></a></li>
                  <li><a><img src="/images/appstore.png" alt="" width="250"></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Elo
            <span><a href="/files/aviso.html"  class="white-text">Aviso de privacidad</a></span>
            <span><a href="/files/terminos.html" class="white-text">Términos y condiciones</a></span>
            </div>
          </div>
        </footer>



  <!--SCRIPTS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script>
    $(document).ready(function(){
    $('.sidenav').sidenav();
    $('.modal').modal();
  });
  $(".dropdown-trigger").dropdown();
  $('.tabs').tabs();
  </script>
  <script src="/javascripts/script.js"></script>
  
  
  <script>
          var resizeElements;

          $(document).ready(function() {

            // Set up common variables
            // --------------------------------------------------

            var bar = ".search_bar";
            var input = bar + " input[type='text']";
            var button = bar + " button[type='submit']";
            var dropdown = bar + " .search_dropdown";
            var dropdownLabel = dropdown + " > span";
            var dropdownList = dropdown + " ul";
            var dropdownListItems = dropdownList + " li";


            // Set up common functions
            // --------------------------------------------------

            resizeElements = function() {
              var barWidth = $(bar).outerWidth();

              var labelWidth = $(dropdownLabel).outerWidth();
              $(dropdown).width(labelWidth);

              var dropdownWidth = $(dropdown).outerWidth();
              var buttonWidth	= $(button).outerWidth();
              var inputWidth = barWidth - dropdownWidth - buttonWidth;
              var inputWidthPercent = inputWidth / barWidth * 100 + "%";

              $(input).css({ 'margin-left': dropdownWidth, 'width': inputWidthPercent });
            }

            function dropdownOn() {
              $(dropdownList).fadeIn(25);
              $(dropdown).addClass("active");
            }

            function dropdownOff() {
              $(dropdownList).fadeOut(25);
              $(dropdown).removeClass("active");
            }


            // Initialize initial resize of initial elements 
            // --------------------------------------------------
            resizeElements();


            // Toggle new dropdown menu on click
            // --------------------------------------------------

            $(dropdown).click(function(event) {
              if ($(dropdown).hasClass("active")) {
                dropdownOff();
              } else {
                dropdownOn();
              }

              event.stopPropagation();
              return false;
            });

            $("html").click(dropdownOff);


            // Activate new dropdown option and show tray if applicable
            // --------------------------------------------------

            $(dropdownListItems).click(function() {
              $(this).siblings("li.selected").removeClass("selected");
              $(this).addClass("selected");

              // Focus the input
              $(this).parents("form.search_bar:first").find("input[type=text]").focus();

              var labelText = $(this).text();
              $(dropdownLabel).text(labelText);

              resizeElements();

            });


            // Resize all elements when the window resizes
            // --------------------------------------------------

            $(window).resize(function() {
              resizeElements();
            });
          });
  </script>




  

  </body>

</html>

