<section class="container">
<h1>producto</h1>

<h2>{{this.name}}</h2>

  <form action='/edit/{{this._id}}' method="POST" enctype="multipart/form-data">
    <label>Nombre del producto</label>
    <input type="text" name="name">
    <br>
    <label>Descripción de tu producto</label>
    <textarea name="desc" type="text"></textarea>
    <br>
    <label>Precio de tu producto</label>
    <input type="number" name="price">
    <br>
    <label>Stock</label>
    <input maxlength= "2" type="number" name="stock">
    <br>
    <label>Galería de fotos</label>
    <input multiple type="file" name="photos">
    <br>
    <input type="submit">
    <br>
    <br>
    <div id="map" style="width:100%; height:400px;"></div>
    <br>
  </form>
</section>