<div class="container">
  <div class="row">

    <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/c1.jpg">
        </div>
        <div class="card-content">
          <p class="center">Depa Condesa</p>
          <p class="center">CDMX</p>
          <p class="center">$25,000 por mes</p>
          <p class="center">Disponible</p>
          <p class="center"><a>Alejandro Treviño</a></p>
        </div>
        </a>
      </div>
      </div>
      <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/e8.jpg">
        </div>
        <div class="card-content">
          <p class="center">Depa Centro</p>
          <p class="center">CDMX</p>
          <p class="center">$15,000 por mes</p>
          <p class="center">Disponible</p>
          <p class="center"><a>Jorge Pineda</a></p>
        </div>
        </a>
      </div>
      </div>
      <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/casa.jpg">
        </div>
        <div class="card-content">
          <p class="center">Casa en Cuernavaca</p>
          <p class="center">Morelos</p>
          <p class="center">$25,000 al mes</p>
          <p class="center">Disponible</p>
          <p class="center"><a>Hugo Estrada</a></p>
        </div>
        </a>
      </div>
      </div>
      <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/casa3.png">
        </div>
        <div class="card-content">
          <p class="center">Depa Polanco</p>
          <p class="center">Guadalajara</p>
          <p class="center">$22,500 al mes</p>
          <p class="center">Disponible</p>
          <p class="center"><a>Monserrat Andrade</a></p>
        </div>
        </a>
      </div>
      </div>
      <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/e.jpg">
        </div>
        <div class="card-content">
          <p class="center">Oficina</p>
          <p class="center">CDMX</p>
          <p class="center">$12,000 al mes</p>
          <p class="center">Disponible</p>
          <p class="center"><a>Marco Mejía</a></p>
        </div>
        </a>
      </div>
      </div>
      <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/e1.jpg">
        </div>
        <div class="card-content">
          <p class="center">Departamento</p>
          <p class="center">CDMX</p>
          <p class="center">$15,200 por mes</p>
          <p class="center">Disponible</p>
          <p class="center"><a>Abigail Martínez</a></p>
        </div>
        </a>
      </div>
      </div>
      <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/e2.jpg">
        </div>
        <div class="card-content">
          <p class="center">Departamento</p>
          <p class="center">Guadalajara</p>
          <p class="center">$7,500 por mes</p>
          <p class="center">Disponible</p>
          <p class="center"><a>Roberto Gómez</a></p>
        </div>
        </a>
      </div>
      </div>
      <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/e10.jpg">
        </div>
        <div class="card-content">
          <p class="center">Depa 60mt2</p>
          <p class="center">Puebla</p>
          <p class="center">$6,200 por mes</p>
          <p class="center">Disponible</p>
          <p class="center"><a>Paula Zamora</a></p>
        </div>
        </a>
      </div>
      </div>
      <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/e9.jpg">
        </div>
        <div class="card-content">
          <p class="center">Vestido novia</p>
          <p class="center">CDMX</p>
          <p class="center">$72,000 al mes</p>
          <p class="center">Disponible</p>
          <p class="center"><a>COLDWELL</a></p>
        </div>
        </a>
      </div>
      </div>
      <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/e6.jpg">
        </div>
        <div class="card-content">
          <p class="center">Departamento</p>
          <p class="center">CDMX</p>
          <p class="center">$14,400 al mes</p>
          <p class="center">Disponible</p>
          <p class="center"><a>Rene Torres</a></p>
        </div>
        </a>
      </div>
      </div>
      <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/e7.jpg">
        </div>
        <div class="card-content">
          <p class="center">Departamento</p>
          <p class="center">CDMX</p>
          <p class="center">$13,900 por mes</p>
          <p class="center">Disponible</p>
          <p class="center"><a>Lourdes Espinoza</a></p>
        </div>
        </a>
      </div>
      </div>
      <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/cas.jpg">
        </div>
        <div class="card-content">
          <p class="center">Casa en Polanco</p>
          <p class="center">CDMX</p>
          <p class="center">$22,000 por mes</p>
          <p class="center">Disponible</p>
          <p class="center"><a>Jocelyn López</a></p>
        </div>
        </a>
      </div>
      </div>

  </div>

</div>

<style> 
  .card img{
  height: 200px;
}
</style>