<div class="container">
  <div class="row">

    <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/v.jpg">
        </div>
        <div class="card-content">
          <p class="center">Vestido Cyan Talla 8</p>
          <p class="center">CDMX</p>
          <p class="center">$350 por dia</p>
          <p class="center">Disponible</p>
          <p class="center"><a>Monserrat Trujillo</a></p>
        </div>
        </a>
      </div>
      </div>
      <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/t4.jpg">
        </div>
        <div class="card-content">
          <p class="center">Traje talla 32</p>
          <p class="center">CDMX</p>
          <p class="center">$150 por dia</p>
          <p class="center">Disponible</p>
          <p class="center"><a>Josué Martínez</a></p>
        </div>
        </a>
      </div>
      </div>
      <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/q.jpg">
        </div>
        <div class="card-content">
          <p class="center">Vestido xv años</p>
          <p class="center">Monterrey</p>
          <p class="center">$320 por dia</p>
          <p class="center">Disponible</p>
          <p class="center"><a>Anahi Cervantes</a></p>
        </div>
        </a>
      </div>
      </div>
      <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/v6.jpg">
        </div>
        <div class="card-content">
          <p class="center">Vestido Rojo Largo</p>
          <p class="center">Guadalajara</p>
          <p class="center">$250 por dia</p>
          <p class="center">Disponible</p>
          <p class="center"><a>Andrea Pérez</a></p>
        </div>
        </a>
      </div>
      </div>
      <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/t2.jpg">
        </div>
        <div class="card-content">
          <p class="center">Traje</p>
          <p class="center">CDMX</p>
          <p class="center">$160 por dia</p>
          <p class="center">Disponible</p>
          <p class="center"><a>Marco Estrada</a></p>
        </div>
        </a>
      </div>
      </div>
      <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/v7.jpg">
        </div>
        <div class="card-content">
          <p class="center">Vestido para xv</p>
          <p class="center">CDMX</p>
          <p class="center">$420 por dia</p>
          <p class="center">Disponible</p>
          <p class="center"><a>Abril Espejel</a></p>
        </div>
        </a>
      </div>
      </div>
      <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/q2.jpg">
        </div>
        <div class="card-content">
          <p class="center">Vestido</p>
          <p class="center">CDMX</p>
          <p class="center">$480 por dia</p>
          <p class="center">Disponible</p>
          <p class="center"><a>Anabel Esquivel</a></p>
        </div>
        </a>
      </div>
      </div>
      <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/ve.jpg">
        </div>
        <div class="card-content">
          <p class="center">Vestido novia</p>
          <p class="center">Puebla</p>
          <p class="center">$520 por dia</p>
          <p class="center">Disponible</p>
          <p class="center"><a>Paula Gutierrez</a></p>
        </div>
        </a>
      </div>
      </div>
      <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/v3.jpg">
        </div>
        <div class="card-content">
          <p class="center">Vestido novia</p>
          <p class="center">CDMX</p>
          <p class="center">$520 por dia</p>
          <p class="center">Disponible</p>
          <p class="center"><a>Miriam Ruiz</a></p>
        </div>
        </a>
      </div>
      </div>
      <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/v5.jpg">
        </div>
        <div class="card-content">
          <p class="center">Vestido de novia</p>
          <p class="center">CDMX</p>
          <p class="center">$440 por dia</p>
          <p class="center">Disponible</p>
          <p class="center"><a>Andrea Rodriguez</a></p>
        </div>
        </a>
      </div>
      </div>
      <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/q3.jpg">
        </div>
        <div class="card-content">
          <p class="center">Vestido quinceañera</p>
          <p class="center">CDMX</p>
          <p class="center">$390 por dia</p>
          <p class="center">Disponible</p>
          <p class="center"><a>Diana Torres</a></p>
        </div>
        </a>
      </div>
      </div>
      <div class="col s12 m4 l3">
      <div class="card">
        <a href="#">
        <div class="card-image">
          <img class="resizeimg" src="images/categories/t4.jpg">
        </div>
        <div class="card-content">
          <p class="center">Traje</p>
          <p class="center">CDMX</p>
          <p class="center">$220 por dia</p>
          <p class="center">Disponible</p>
          <p class="center"><a>Anuar Palacios</a></p>
        </div>
        </a>
      </div>
      </div>

  </div>

</div>

<style> 
  .card img{
  height: 200px;
}
</style>